# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

# dotenv
.env
.env.*

# VS Code
.vscode/
.history/

# Testing
.coverage
.pytest_cache/